<!--HEADER-->


            <div id="header" class="col-xs-12">
                <div id="header-left" class="col-xs-2">
                    <div class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Your profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Sign out</a></li>
                        </ul>
                    </div><!--dropdown-->
                </div><!--header left-->
                <div id="header-right" class="col-xs-10">
                  <%= form_tag(populists_path, method: :get) do %>
                  <%= text_field_tag :search%>
                  <%= submit_tag 'Search' %>
                  <% end %>
                    <!-- <input type="text" class="form-control" placeholder="Search Populists"> -->
                </div><!--header-right-->
            </div><!--header-->
