<!--HEADER-->
            <div id="header" class="col-xs-12">
              <div class ="row">
                <div id="header-left" class="col-xs-2 col-sm-5">
                    <div class="dropdown-hamburger">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu" id="dropdown-hamburger">
                            <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li><a href="mylists.html"><i class="fa fa-list" aria-hidden="true"></i>Your lists</a></li>
                            <li><a href="newlist.html"><i class="fa fa-file-text" aria-hidden="true"></i>New list</a></li>
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Your profile</a></li>
                            <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a></li>
                            <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
                        </ul>
                    </div><!--dropdown-->
                    <h2>Populist</h2>
                </div><!--header left-->
                <div id="header-right" class="col-xs-10 col-sm-7 col-md-4">
                    <input type="text" class="form-control" placeholder="Search Populists">
                </div><!--header-right-->
              </div>

            </div><!--header-->
<!--END HEADER-->
