

<!-- MAIN CONTENT -->

            <div class="col-xs-12 row listOfMyLists">
                <p class="list_title">Your Lists</p>
                <ul id="my-list-list">
                  <% @populists.each do |populist| %>
                        <li><%= populist.title %>
                          <div class="visibility-status">
                          <span class="glyphicon glyphicon-eye-open eye" aria-hidden="true"></span>
                          <%= link_to " ", populist, method: :delete, data: {confirm: "Are you sure?"}, :class => "glyphicon glyphicon-trash" %>

                        </div>
                      </li>
                    <% end %>


                      <li><%= link_to "New Lists", new_populist_path %><div class="visibility-status"><span class="glyphicon glyphicon-plus create-new-plus eye" aria-hidden="true"></span></div></li>

                </ul>


            </div><!--listOfMyLists-->

                        <p class="heading">Populist deals</p>
            <div class="carousel-row last-row row col-xs-12">
                <div class="carousel">
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product1.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product2.jpg">
                            <p class="brand">MSR</p>
                            <p class="product-name">2P Backpacking Tent</p>
                            <p class="price">$279</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product12.jpg">
                            <p class="brand">Snow Peak</p>
                            <p class="product-name">Titanium Cookware</p>
                            <p class="price">$99</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product3.jpg">
                            <p class="brand">ThermaRest</p>
                            <p class="product-name">1' Sleeping Pad</p>
                            <p class="price">$149</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product4.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product5.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product6.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product7.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product10.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div><!--trending-populist-->
                    <div class="featured-product">
                        <div class="product">
                            <img src="images/product9.jpg">
                            <p class="brand">The North Face</p>
                            <p class="product-name">Sub-zero Sleeping Bag</p>
                            <p class="price">$179</p>
                        </div><!--product-->
                    </div>
                </div><!--carousel-->
            </div><!--carousel row-->
