
<!-- MAIN CONTENT -->

            <div class="section first-section col-xs-12 row">
                <p class="heading">Trending Populists</p>
                <% @populists.each do |populist| %>
                <div class="feature col-xs-6"><p class="list-title"><%= populist.title %></p></div>
                <% end %>
            </div><!--section-->

            <div class="section col-xs-12 row">
                <p class="heading">Your most recent lists</p>
                <div class="feature col-xs-6"><p class="list-title">Overnight</p></div>
                <div class="feature col-xs-6"><p class="list-title">Vancouver trip</p></div>
            </div><!--section-->

            <div class="section last-section col-xs-12 row">
                <p class="heading">Populist deals</p>
                <div class="feature col-xs-6"><p class="list-title">2-person tent</p></div>
                <div class="feature col-xs-6"><p class="list-title">40L Backpack</p></div>
            </div><!--section-->


<!-- MAIN CONTENT -->
            <!-- <div class="col-xs-12 populist">
                <p class="list_title">Backcountry Camping</p>
                <ul class="populist_ul">
                    <li><input type="checkbox" class="checkbox">Tent</li>
                    <li><input type="checkbox" class="checkbox">Sleeping bag</li>
                    <li><input type="checkbox" class="checkbox">Lighter</li>
                    <li><input type="checkbox" class="checkbox">Sleeping pad</li>
                    <li><input type="checkbox" class="checkbox">Tarp</li>
                    <li><input type="checkbox" class="checkbox">Stove</li>
                </ul>
                <p>3,447
            </div>
 -->

    <div id="home-button" class="col-xs-2 col-xs-offset-5"></div>
